<header class="header section">
    <div class="wrapper">
        <ul class="header__nav">
            <li>
                <a href="" class="header__nav-link">
                    <img src="img/recomendation.svg" alt="recomendation">
                    <p class="header__nav-text">
                        Рекомендация терапевтов<br>
                        №1 при грыжах
                    </p>
                </a>
            </li>
            <li>
                <a href="" class="header__nav-link">
                    <img src="img/composition.svg" alt="composition">
                    <p class="header__nav-text">
                        Натуральный органический<br>
                        состав
                    </p>
                </a>
            </li>
            <li>
                <a href="" class="header__nav-link">
                    <img src="img/clinic.svg" alt="clinic">
                    <p class="header__nav-text">
                        Подтверждено клиниками<br>
                        Израиля и США
                    </p>
                </a>
            </li>
        </ul>
        <div class="header__content">
            <div class="header__content-left">
                <h1 class="header__logo">
                    Трауфрил
                </h1>
                <h2 class="header__title">
                    Вы забудете о грыже
                    уже после первого
                    дня применения
                </h2>
                <ul class="header__list">
                    <li class="header__list-item header__list-item_border">
                        <span class="header__list-item_color">Устранит боль в области грыжи</span><br>
                        в течение 5 минут после нанесения
                    </li>
                    <li class="header__list-item header__list-item_border">
                        <span class="header__list-item_color">Избавит от дискомфорта:</span> чувства<br>
                        тяжести, вздутия и неудобства<br>
                        при ходьбе
                    </li>
                    <li class="header__list-item">
                        <span class="header__list-item_color">Значительно уменьшит размер<br>
                            грыжи</span> в течение месяца
                    </li>
                </ul>
                <p class="header__quote">
                    Эффективен при грыже брюшной<br>
                    стенки, паховой области и половых<br>
                    органов
                </p>
            </div>
            <div class="header__content-right">
                <div class="header__product">
                    <div class="header__product-one">
                        <img src="img/product__one.png" alt="product">
                    </div>
                    <div class="header__product-two">
                        <img src="img/product__two.png" alt="product">
                    </div>
                </div>
                <div class="form">
                    <div class="form__top">
                        <p class="form__top-text">
                            <span class="form__top-text_size">Акция</span>
                            50%
                        </p>
                    </div>
                    <p class="form__title">
                        Успейте купить<br>
                        по промо-цене<br>
                        до <span class="date-0 form__title_color">01.09.2018</span>
                    </p>
                    <div class="form__price">
                        <div class="form__price-before">
                            <p class="form__price-title">Старая цена</p>
                            <p class="form__price-description x_price_previous">1980</p>
                            <p class="form__price-currency x_currency">руб</p>
                        </div>
                        <div class="form__price-after">
                            <p class="form__price-title">Новая цена</p>
                            <p class="form__price-description form__price-description_color x_price_current">990</p>
                            <p class="form__price-currency x_currency">руб</p>
                        </div>
                    </div>
                    <p class="form__pack">
                        Осталось <span class="lastpack form__pack_color">15</span> упаковок<br>
                        со скидкой
                    </p>
                    <form action="/submit" method="post" class="x_order_form form__content">
                        <input type="text" name="name" required autocomplete="name" class="form__input form__input-name" placeholder="Моё имя">
                        <input type="tel" name="phone" required autocomplete="tel" class="form__input form__input-phone" placeholder="Мой телефон">
                    </form>
                    <button type="submit" class="form__button">
                        Заказать
                        <span class="form__button-text">со скидкой</span>
                    </button>
                    <p class="form__security">
                        Ваши данные защищены!
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>