<section class="symptoms section">
    <div class="wrapper">
        <h2 class="title">Как думаете</h2>
        <h3 class="subtitle">к чему приведут “безобидные” симптомы грыжи уже через год?</h3>
        <div class="consequence">
            <div class="consequence__left">
                <p class="consequence__description">
                    Тяжесть в области грыжи
                    при смене положения тела
                    <span class="consequence__description-point one"></span>
                </p>
                <p class="consequence__description">
                    Чувство неудобства<br>
                    при ходьбе
                    <span class="consequence__description-point two"></span>
                </p>
                <p class="consequence__description">
                    Боль в животе после
                    поднятия тяжести
                    <span class="consequence__description-point three"></span>
                </p>
            </div>
            <div class="consequence__center">
                <img src="img/symptoms.png" alt="sumptoms">
            </div>
            <div class="consequence__right">
                <p class="consequence__description consequence__description_left">
                    Вздутие в паховой области,
                    которое исчезает в лежачем
                    положении
                    <span class="consequence__description-point four"></span>
                </p>
                <p class="consequence__description consequence__description_left">
                    Чувство тяжести<br>
                    в животе
                    <span class="consequence__description-point fife"></span>
                </p>
                <p class="consequence__description consequence__description_left">
                    Частые отрыжки, газы
                    и&nbsp;задержка стула
                    <span class="consequence__description-point six"></span>
                </p>
            </div>
        </div>
        <h3 class="symptoms__statistic">Статистика МОЗ:</h3>
        <p class="symptoms__statistic-description">
            в 86% случаев <span class="symptoms__statistic-description_weight">если ничего не делать</span> с грыжей — эти симптомы будут развиваться,<br>
            и <span class="symptoms__statistic-description_weight">меньше чем за год приводят к ущемлению и нестерпимым болям</span>, при которых поможет только операция
        </p>
    </div>
</section>