<section class="complications section">
    <div class="wrapper">
        <h2 class="title">
            Со временем даже при неущемленной
            грыже развиваются <span class="title_bg">осложнения</span>
        </h2>
        <div class="enumeration">
            <div class="enumeration__cont">
                <div class="enumeration__img">
                    <img src="img/enumeration__one.png" alt="inflammation">
                </div>
                <h2 class="enumeration__title">Воспаление</h2>
                <p class="enumeration__description">
                    Грыжа инфицируется
                    и воспаляется. Это приводит
                    к&nbsp;высокой температуре, рвоте,
                    запорам, болям.
                </p>
            </div>
            <div class="enumeration__cont">
                <div class="enumeration__img two">
                    <img src="img/enumeration__two.png" alt="irreducibility">
                </div>
                <h2 class="enumeration__title">Невправимость</h2>
                <p class="enumeration__description">
                    Со временем от грыжи уже
                    не избавиться ручным
                    вправлением. Она становится
                    больше, выпирает из-под
                    одежды.
                </p>
            </div>
            <div class="enumeration__cont">
                <div class="enumeration__img three">
                    <img src="img/enumeration__three.png" alt="concentrations of feces in the gut">
                </div>
                <h2 class="enumeration__title">
                    Скопление кала
                    в&nbsp;кишечнике
                </h2>
                <p class="enumeration__description enumeration__description_margin">
                    Возникает, если в грыжевом
                    мешке находится толстая
                    кишка. Приводит
                    к болезненным запорам.
                </p>
            </div>
            <div class="enumeration__cont">
                <div class="enumeration__img four">
                    <img src="img/enumeration__four.png" alt="dysfunction of">
                </div>
                <h2 class="enumeration__title">Дисфункция органов</h2>
                <p class="enumeration__description">
                    Возникает острая нестерпимая
                    боль в области “отмирающих”
                    органов, поднимается
                    температура.
                </p>
            </div>
        </div>
        <p class="complications__conclusion">
            Не теряйте время и <span class="complications__conclusion_font">начните восстановление</span> уже сейчас,
            пока это можно сделать <span class="complications__conclusion_font">безболезненно!</span>
        </p>
    </div>
</section>