<section class="effect section">
    <div class="wrapper">
        <h2 class="title">
            <span class="title_color">Трауфрил</span> эффективно устранит<br>
            болезненные симптомы и остановит рост грыжи
        </h2>
        <div class="effect__cont">
            <div class="effect__product">
                <img src="img/product__one.png" alt="product" class="effect__product_width">
                <div class="effect__product-position">
                    <img src="img/product__two.png" alt="product" class="effect__product-position_width">
                </div>
            </div>
            <div class="effect__table">

                <div class="effect__table-cont">
                    <p class="effect__table-list">
                        <img src="img/composition__one.png" alt="composition one" class="effect__table-list_position one">
                        Протеины крови марала
                        и&nbsp;бобрового мускуса
                    </p>
                    <p class="effect__table-list effect__table-list_mod">
                        способствует уменьшению
                        грыжи
                    </p>
                </div>
                <div class="effect__table-cont">
                    <p class="effect__table-list two">
                        <img src="img/composition__two.png" alt="composition two" class="effect__table-list_position two">
                        Концентрат кровохлебки
                        и&nbsp;любистка
                    </p>
                    <p class="effect__table-list two effect__table-list_mod">
                        избавляет от риска ущемления
                        грыжи
                    </p>
                </div>
                <div class="effect__table-cont">
                    <p class="effect__table-list three">
                        <img src="img/composition__three.png" alt="composition three" class="effect__table-list_position three">
                        Экстракт леспедецы
                        и&nbsp;прополиса
                    </p>
                    <p class="effect__table-list three effect__table-list_mod">
                        устраняет боль и предотвращает
                        отмирание органов
                    </p>
                </div>
            </div>
        </div>
        <button class="form__button effect__button">
            Заказать
            <span class="form__button-text">со скидкой</span>
        </button>
    </div>
</section>