<section class="grandfather section">
    <div class="wrapper">
        <div class="grandfather__left">
            <h2 class="grandfather__title">
                Я и мой дед вылечили грыжи на животе и паху
                с этими травами. Я рад, что теперь мой рецепт
                доступен каждому!
            </h2>
            <p class="grandfather__description">
                Операции все эти ваши - это глупости! Мне почти 90 лет, и я здоров как бык,
                ни одной операции за жизнь не делал. Хотя чего со мной только было:
                и болячки разные, и грыжи…
            </p>
            <p class="grandfather__description">
                Вырос я в семье травников, и занимаюсь этим всю жизнь. Я всегда находил
                правильное сочетание трав и лечил себя сам! И за моими целебными
                рецептами вот уже лет 70 выстраиваются очереди со всей округи.
            </p>
            <p class="grandfather__description">
                Был у меня как-то один паренёк, запущенный случай. У него грыжа возле пупка
                торчала. Говорил, что операцию надо делать - а я ему свою мазь дал,
                собственного, так сказать, изготовления. Парень носом поворочал,
                но мазь взял. И что вы думаете, всё у него теперь восстановилось. Не за два дня,
                конечно, но тем не менее не пришлось на операционный стол ложиться.

            </p>
            <p class="grandfather__description">
                Я много разных рецептов на травах знаю, и с грыжами ещё от своего деда знаю,
                что надо делать. Без прополиса, любистка и леспедецы здесь не обойтись.
                <span class="grandfather__description_color">И грыжа перестает выпадать, и со временем орган там становится на место.</span>
                Но у этой мази один минус есть - её надо сразу намазывать. И тут уже надо мазь
                как-то сильно запечатывать, иначе пропадет она. Вот те, кто у меня рецепт
                купили и продают её теперь в интернете - они мою мазь поместили в ампулы
                по моему совету, и правильно сделали.
            </p>
            <p class="grandfather__name">
                Создатель растительной форумулы <span class="grandfather__name_orang">Трауфрила</span>,
                травник, <span class="grandfather__name_black">Георгий Сараев</span>, 87 лет
            </p>
        </div>
        <div class="grandfather__right">
            
        </div>
    </div>
</section>