<section class="doctor section">
    <div class="wrapper">
        <div class="doctor__cont">
            <div class="doctor__left">
                <img src="img/doctor.png" alt="doctor">
                <div class="doctor__left-position">
                    <img src="img/product__one.png" alt="product">
                </div>
            </div>
            <div class="doctor__right">
                <h2 class="title">
                    Я рекомендую <span class="title_color">Трауфрил</span> всем,
                    <span class="title_bg">кто не хочет делать операцию,</span>
                    но хочет забыть о грыже
                    и&nbsp;дискомфорте при ней.
                </h2>
                <p class="doctor__name">
                    Врач-хирург высшей категории, кандидат медицинских наук
                    <span class="doctor__name_color">Алексей Колесников</span>, стаж 18 лет
                </p>
                <p class="doctor__description">
                    <span class="doctor__description_color">Когда у человека болит грыжа</span>, но операция ему в срочном порядке
                    не нужна (или он по какой-то причине её не делает) — такому человеку
                    будут полезнее препараты на растительной основе. Здесь <span class="doctor__name_color">можно обойтись
                    без радикальных методов</span>, эту проблему можно решить щадящим образом
                    без риска для здоровья.
                </p>
                <p class="doctor__description">
                    Из всех растительных формул мне больше всего нравится <span class="doctor__name_color">состав
                    Трауфрила - он самый эффективный, и это подтвердили результаты
                    международных клиники</span>. Этот препарат помогает забыть о грыже
                    и свести риск к минимуму.

                </p>
                <p class="doctor__description">
                    Я рекомендую Трауфрил всем, кто не хочет делать операцию, но хочет
                    забыть о грыже и дискомфорте при ней.
                </p>
                <p class="doctor__quote">
                    данное интервью с Алексеем Колесниковым взято из газеты
                    <span class="doctor__quote_color">"Комсомольская правда”</span>
                </p>
            </div>
        </div>
        <button class="form__button doctor__button">
            Заказать
            <span class="form__button-text">со скидкой</span>
        </button>
    </div>
</section>