<section class="confirmation section">
    <div class="wrapper">
        <h2 class="title">
            Эффективность <span class="title_color">Трауфрила</span> подтверждена
            результатами испытаний
        </h2>
        <p class="confirmation__description">
            проведенных в клиниках США, России и Израиля
        </p>
        <div class="certificate">
            <div class="certificate__item">
                <div class="certificate__img">
                    <img src="img/certificate__one.png" alt="certificate">
                </div>
                <p class="certificate__country">
                    <span class="certificate__country_before"></span>
                    США
                </p>
            </div>
            <div class="certificate__item">
                <div class="certificate__img">
                    <img src="img/certificate__two.png" alt="certificate">
                </div>
                <p class="certificate__country">
                    <span class="certificate__country_before"></span>
                    Израиль
                </p>
            </div>
            <div class="certificate__item">
                <div class="certificate__img">
                    <img src="img/certificate__Three.png" alt="certificate">
                </div>
                <p class="certificate__country">
                    <span class="certificate__country_before"></span>
                    Россия
                </p>
            </div>
        </div>
        <p class="certificate__border"><span class="certificate__border_quote">”</span></p>
        <div class="procent">
            <div class="procent__cont">
                <p class="procent__title">
                    Устранили болевой<br>
                    синдром
                </p>
                <div class="procent__result one">
                    <p class="procent__result-number">98%</p>
                </div>
            </div>
            <div class="procent__cont">
                <p class="procent__title">
                    Уменьшили патологическое<br>
                    выпирание грыжи в течение месяца
                </p>
                <div class="procent__result two">
                    <p class="procent__result-number two">43%</p>
                </div>
            </div>
            <div class="procent__cont">
                <p class="procent__title">
                    Перестали беспокоиться<br>
                    о грыже
                </p>
                <div class="procent__result three">
                    <p class="procent__result-number">91%</p>
                </div>
            </div>
        </div>
        <div class="confirmation__bottom">
            <p class="confirmation__bottom-left">
                World Health<br>
                Organization
            </p>
            <div class="confirmation__bottom-center">
                <img src="img/world.png" alt="world">
            </div>
            <div class="confirmation__bottom-right">
                <p class="confirmation__bottom_black">
                    Все этапы тестирования<br>
                    подтверждены специалистам
                </p>
                <p class="confirmation__bottom_blue">
                    Всемирной организации<br>
                    здравоохранения
                </p>
            </div>
        </div>
    </div>
</section>