<section class="application section">
    <div class="wrapper">
        <h2 class="title">Как применять <span class="title_color">Трауфрил</span></h2>
        <div class="instructions">
            <div class="instructions__item">
                <div class="instructions__item-img">
                    <img src="img/instructions__one.png" alt="instructions one">
                    <span class="instructions__item-img_number">1</span>
                </div>
                <p class="instructions__item-description">
                    Вскрыть ампулу и нанести<br>
                    содержимое на проблемные<br>
                    области выпирания грыжи
                </p>
            </div>
            <div class="instructions__item">
                <div class="instructions__item-img">
                    <img src="img/instructions__two.png" alt="instructions two">
                    <span class="instructions__item-img_number">2</span>
                </div>
                <p class="instructions__item-description">
                    Использовать ампулу<br>
                    полностью после вскрытия
                </p>
            </div>
            <div class="instructions__item">
                <div class="instructions__item-img">
                    <img src="img/instructions__three.png" alt="instructions three">
                    <span class="instructions__item-img_number">3</span>
                </div>
                <p class="instructions__item-description">
                    Применять по 1 ампуле<br>
                    утром и вечером
                </p>
            </div>
        </div>
        <div class="recomendation">
            <div class="recomendation__description">
                <div class="recomendation__description-people">
                    <img src="img/children.svg" alt="shildren">
                </div>
                <h2 class="recomendation__description-age">
                    Детям<br>
                    с 6 до 12 лет
                </h2>
                <p class="recomendation__description-course">
                    рекомендуемый курс - 20 дней
                </p>
            </div>
            <div class="recomendation__product">
                <img src="img/product__one.png" alt="product">
            </div>
            <div class="recomendation__description">
                <div class="recomendation__description-people">
                    <img src="img/people.svg" alt="people">
                </div>
                <h2 class="recomendation__description-age">
                    Взрослым и детям<br>
                    от 12 лет
                </h2>
                <p class="recomendation__description-course">
                    рекомендуемый курс - 30 дней
                </p>
            </div>
        </div>
        <button class="form__button application__button">
            Заказать
            <span class="form__button-text">со скидкой</span>
        </button>
    </div>
</section>