<section class="application section">
    <div class="wrapper">
        <h2 class="title">Как применять Трауфрил</h2>
        <div class="instructions">
            <div class="instructions__item">
                <div class="instructions__item-img">
                    <img src="img/instructions__one.png" alt="instructions one">
                    <span class="instructions__item_number">1</span>
                </div>
                <p class="instructions__item-description">
                    Вскрыть ампулу и нанести
                    содержимое на проблемные
                    области выпирания грыжи
                </p>
            </div>
            <div class="instructions__item">
                <div class="instructions__item-img">
                    <img src="img/instructions__two.png" alt="instructions two">
                    <span class="instructions__item_number">2</span>
                </div>
                <p class="instructions__item-description">
                    Использовать ампулу
                    полностью после вскрытия
                </p>
            </div>
            <div class="instructions__item">
                <div class="instructions__item-img">
                    <img src="img/instructions__three.png" alt="instructions three">
                    <span class="instructions__item_number">3</span>
                </div>
                <p class="instructions__item-description">
                    Применять по 1 ампуле
                    утром и вечером
                </p>
            </div>
        </div>
        <div class="recomdation">
            <div class="recomdation__description">
                <div class="recomdation__description-people">
                    <img src="img/children.svg" alt="shildren">
                </div>
                <h2 class="recomdation__description-age">
                    Детям
                    с 6 до 12 лет
                </h2>
                <p class="recomdation__description-course">
                    рекомендуемый курс - 20 дней
                </p>
            </div>
            <div class="recomdation__product">
                <img src="img/product__one.png" alt="product">
            </div>
            <div class="recomdation__description">
                <div class="recomdation__description-people">
                    <img src="img/people.svg" alt="people">
                </div>
                <h2 class="recomdation__description-age">
                    Взрослым и детям
                    от 12 лет
                </h2>
                <p class="recomdation__description-course">
                    рекомендуемый курс - 30 дней
                </p>
            </div>
        </div>
    </div>
</section>