<section class="reviews section">
    <div class="wrapper">
        <h2 class="title">
            Отзывы людей,<br>
            которые победили грыжу с <span class="title_color">Трауфрил</span>
        </h2>
        <div class="slide">
            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__one.png" alt="reviews one">
                </div>
                <p class="slide__name">Константин, 39 лет, Саранск</p>
                <p class="slide__effect">
                    В животе прошел<br>
                    дискомфорт!
                </p>
                <p class="slide__description">
                    Грыжа у меня появилась около года назад в районе паха, начала выпирать. В поликлинике сказали, что
                    ничего страшного, многие с этим живут, прописали мне таблеточки - толку правда от них никакого не
                    было. Операцию я делать, конечно, не хотел, хоть меня и предупредили про риски ущемления грыжи.
                    Ходил я так с этой пупыркой, ходил, иногда она побаливала. И вот мой товарищ из армии посоветовал
                    мне хорошего травника - Григория Владимировича. Тот мне мазь дал, Трауфрил, сказал, что с этой
                    мазью ущемления точно не будет. Мазал я чуть больше месяца. Боль быстро прошла, в животе прошел
                    дискомфорт, а пупырка стала меньше. Через какое-то время повторил курс, и если сейчас посмотреть,
                    то как будто и нет грыжи у меня - а главное, никакой боли нет. Думаю, что повторю ещё курс
                </p>
                <div class="slide__show"></div>
            </div>
            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__two.png" alt="reviews two">
                </div>
                <p class="slide__name">Дарина, 28 лет, Новосибирск</p>
                <p class="slide__effect">
                    Я больше не боюсь<br>
                    защемления
                </p>
                <p class="slide__description">
                    Я три года ходила с пупочной грыжей,
                    и постоянно боялась, что она может защемиться. А операции я боялась ещё больше. Иногда она болела,
                    и каждый раз, я думала, что всё… Спасибо форуму, почитала про растительные препараты, нашла там
                    Трауфрил.
                    Прошла курс, грыжа больше не побаливает и стала меньше раза в три, я больше не боюсь защемления.
                </p>
                <div class="slide__show"></div>
            </div>
            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__three.png" alt="reviews one">
                </div>
                <p class="slide__name">Леонид, 64 года, Новгород</p>
                <p class="slide__effect">
                    В животе прошел<br>
                    дискомфорт!
                </p>
                <p class="slide__description">
                    Сложно жить мужчине с грыжей.
                    Как ни крути, а часто приходиться поднимать тяжелое - несмотря на то, что при грыже это запрещено.
                    Один раз игрались с пятилетним сыном, я поднял его и почувствовал боль в паху
                    в районе грыжи. Слава богу,
                    это не было защемление, но понервничать пришлось из-за этого конечно. Не хочется так жить, и
                    постоянно бояться, что грыжу может защемить. Когда узнал про Трауфрил решил попробовать, хуже точно
                    не будет. Почти уже прошел курс. Подействовало - в животе быстро прошли неприятные ощущения. Грыжа
                    - меньше в два раза почти. Болей нет больше. Хороший препарат.
                </p>
                <div class="slide__show"></div>
            </div>



            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__four.png" alt="reviews one">
                </div>
                <p class="slide__name">Жанна, 42 года, Казань</p>
                <p class="slide__effect">
                    Стало легко ходить, а грыжа <br>затянулась в колечко и почти прошла

                </p>
                <p class="slide__description">
                    У сына была пупочная грыжа, думали делать операцию, но решили подождать. Знаете, страшно это,
                    ребёнок он же ещё, всего 11 лет. Я постоянно нервничала, следила, чтобы он случайно что-то тяжелое
                    не поднимал, а он же ребёнок, не понимает, что это серьёзные вещи, не следит за этим. То сумки
                    тяжелые возьмет, то с братом гантели потягает-подурачится. Я его ругала, но без толку. Нашла
                    Трауфрил у знакомой травницы, она посоветовала, сказала, что как раз для пупочной грыжи подойдет.
                    Мазали по два раза в день, и месяца оказалось достаточно. Грыжа постепенно затянулась в колечко, и
                    почти прошла.

                </p>
                <div class="slide__show"></div>
            </div>
            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__fife.png" alt="reviews two">
                </div>
                <p class="slide__name">Раиса, 56 лет, Владивосток</p>
                <p class="slide__effect">
                    Действительно работают<br> травы, это радует

                </p>
                <p class="slide__description">
                    Я врачам не очень доверяю, у них на всё одни методы - операция. Я считаю любые операции
                    противоестественными. Пробовала избавиться от грыжи при помощи велосипеда и разных упражнений, но
                    ничего не помогало, только бли усиливались от этого. Вот нашла в интернете Трауфрил, решила
                    заказать, состав очень интересный, и тем более цена такая низкая, можно попробовать. Мазала его 30
                    дней, как указано в инструкции. Грыжа стала меньше, наверное раза в полтора где-то, её почти нет.
                    Действительно работают травы, это радует.
                </p>
                <div class="slide__show"></div>
            </div>
            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__six.png" alt="reviews one">
                </div>
                <p class="slide__name">Людмила, 54 года
                </p>
                <p class="slide__effect">
                    Грыжа вот уже полгода<br> не болит
                </p>
                <p class="slide__description">
                    Моя история началась более 10 лет назад с появлением послеоперационной грыжи живота. И все эти годы
                    я жила в постоянном страхе ущемления и более тяжелых последствий. Грыжа часто болела, иногда так
                    сильно, что тяжело было ходить. Год назад , после долгих мучений, я решилась на операцию. Даже
                    подготовила деньги, чтобы прооперироваться у хорошего хирурга. Но за неделю до операции узнала про
                    Трауфрил, решила попробовать последнюю, так сказать, надежду. И препарат сработал! Грыжа вот уже
                    полгода как не болит. Теперь думаю повторить курс для закрепления результата.

                </p>
                <div class="slide__show"></div>
            </div>
            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__seven.png" alt="reviews one">
                </div>
                <p class="slide__name">Кристина, 35 лет
                </p>
                <p class="slide__effect">
                    Теперь не стесняюсь<br> своего живота

                </p>
                <p class="slide__description">
                    Из-за пупочной грыжи мне было неловко показывать его, всегда носила одежду, которая закрывала эту
                    уродливую опухоль. В определенные дни боль из ноющей переходила в острую, я почти паниковала.
                    Вырезать, знаете, страшно, конечно, и я долго не решалась, потому что наслушалась историй страшных,
                    какие последствия после операции. Спасибо моему брату, он нашел мне в интернете Трауфрил. Я мазала
                    этим средством живот, и боль начала утихать. Не сразу, конечно - недели полторы ничего почти не
                    было и я уже думала забросить лечение, как в один день проснулась, побежала на работу.. И только к
                    обеду поняла, что не думала о боли вообще! Она была конечно, но не такая выраженная. Счастье мое
                    сложно описать словами. Курс я конечно прошла, и сейчас ожидаю новую доставку - для закрепления
                    результата. Я счастлива! Кстати, даже размер ее, мне кажется, меньше стал немного, и я теперь почти
                    не стесняюсь своего живота.

                </p>
                <div class="slide__show"></div>
            </div>
            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__eight.png" alt="reviews one">
                </div>
                <p class="slide__name">Екатерина, 29 лет

                </p>
                <p class="slide__effect">
                    Через неделю заметила, <br>как грыжа уменьшается

                </p>
                <p class="slide__description">
                    Я особо врачей не слушала, которые меня пугали операцией над грыжей, что её резать, а то защемиться
                    там что-то. Я вообще врачам не очень верю, они вечно любят пугать всех, лишь бы денег содрать. Так
                    я спокойно себе ходила с грыжей где-то месяца три. А потом она начала побаливать, и чем дальше -
                    тем хуже. Я поняла, что надо что-то делать, когда стало, простите, невозможно нормально сексом
                    заниматься, потому что внизу живота было очень неприятно, отдавало куда-то в кишечник. Операцию я
                    делать не хотела, таблетки, которые выписывали, я пить не хотела, поэтому начала искать на форумах,
                    чем ещё можно лечить это. Так я нашла Трауфрил. Что я вам скажу - это находка! На вторую ночь после
                    того, как начала им пользоваться, прошли неприятные ощущения, через неделю заметила, как грыжа
                    уменьшается. Вот недавно закончила курс, сходила к терапевту своему, он не может поверить, что мне
                    настолько лучше стало.

                </p>
                <div class="slide__show"></div>
            </div>
        </div>
    </div>
</section>