<section class="reviews section">
    <div class="wrapper">
        <h2 class="title">
            Отзывы людей,<br>
            которые победили грыжу с <span class="title_color">Трауфрил</span>
        </h2>
        <div class="slide">
            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__one.png" alt="reviews one">
                </div>
                <p class="slide__name">Константин, 39 лет, Саранск</p>
                <p class="slide__effect">
                    В животе прошел<br>
                    дискомфорт!
                </p>
                <p class="slide__description">
                    Грыжа у меня появилась около года назад в районе паха, начала выпирать. В поликлинике сказали, что
                    ничего страшного, многие с этим живут, прописали мне таблеточки - толку правда от них никакого не
                    было. Операцию я делать, конечно, не хотел, хоть меня и предупредили про риски ущемления грыжи.
                    Ходил я так с этой пупыркой, ходил, иногда она побаливала. И вот мой товарищ из армии посоветовал
                    мне хорошего травника - Григория Владимировича. Тот мне мазь дал, Трауфрил, сказал, что с этой
                    мазью ущемления точно не будет. Мазал я чуть больше месяца. Боль быстро прошла, в животе прошел
                    дискомфорт, а пупырка стала меньше. Через какое-то время повторил курс, и если сейчас посмотреть,
                    то как будто и нет грыжи у меня - а главное, никакой боли нет. Думаю, что повторю ещё курс
                </p>
                <div class="slide__show"></div>
            </div>
            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__two.png" alt="reviews two">
                </div>
                <p class="slide__name">Дарина, 28 лет, Новосибирск</p>
                <p class="slide__effect">
                    Я больше не боюсь<br>
                    защемления
                </p>
                <p class="slide__description">
                    Я три года ходила с пупочной грыжей,
                    и постоянно боялась, что она может защемиться. А операции я боялась ещё больше. Иногда она болела,
                    и каждый раз, я думала, что всё… Спасибо форуму, почитала про растительные препараты, нашла там
                    Трауфрил.
                    Прошла курс, грыжа больше не побаливает и стала меньше раза в три, я больше не боюсь защемления.
                </p>
                <div class="slide__show"></div>
            </div>
            <div class="slide__cont">
                <div class="slide__img">
                    <img src="img/slide__three.png" alt="reviews one">
                </div>
                <p class="slide__name">Леонид, 64 года, Новгород</p>
                <p class="slide__effect">
                    В животе прошел<br>
                    дискомфорт!
                </p>
                <p class="slide__description">
                    Сложно жить мужчине с грыжей.
                    Как ни крути, а часто приходиться поднимать тяжелое - несмотря на то, что при грыже это запрещено.
                    Один раз игрались с пятилетним сыном, я поднял его и почувствовал боль в паху
                    в районе грыжи. Слава богу,
                    это не было защемление, но понервничать пришлось из-за этого конечно. Не хочется так жить, и
                    постоянно бояться, что грыжу может защемить. Когда узнал про Трауфрил решил попробовать, хуже точно
                    не будет. Почти уже прошел курс. Подействовало - в животе быстро прошли неприятные ощущения. Грыжа
                    - меньше в два раза почти. Болей нет больше. Хороший препарат.
                </p>
                <div class="slide__show"></div>
            </div>
            
        </div>
    </div>
</section>