<section class="order section">
    <div class="wrapper">
        <h2 class="title">Как заказать <span class="title_color">Трауфрил</span></h2>
        <div class="order__item">
            <div class="order__item-cont">
                <div class="order__item-img">
                    <img src="img/order__one.png" alt="order one">
                </div>
                <div class="order__item-dots"></div>
                <h2 class="order__item-title">
                    
                    Заполните форму заказа
                </h2>
                <p class="order__item-description">
                    Вам нужно указать только свое имя
                    и&nbsp;номер телефона
                </p>
            </div>
            <div class="order__item-cont">
                <div class="order__item-img">
                    <img src="img/order__two.png" alt="order two">
                </div>
                <div class="order__item-dots"></div>
                <h2 class="order__item-title">
                   
                    Ответьте на звонок оператора
                </h2>
                <p class="order__item-description">
                        Он уточнит ваши адресные данные
                        и&nbsp;даст ответы на все вопросы о продукте
                </p>
            </div>
            
            <div class="order__item-cont">
                <div class="order__item-img">
                    <img src="img/order__three.png" alt="order three">
                </div>
                <div class="order__item-dots"></div>
                <h2 class="order__item-title">
                    
                    Оплатите после получения
                </h2>
                <p class="order__item-description">
                    Расходы по пересылке мы оплатим 
                    самостоятельно.
                </p>
            </div>
        </div>
    </div>
</section>