<footer class="footer">
    <div class="wrapper">
        <div class="footer__left">
            <div class="footer__logo">
                <img src="img/logo.png" alt="logo">
            </div>
            <p class="footer__left-description">
                Трауфрил
                <span class="footer__left-description_color">Copyright 2018</span>
            </p>
        </div>
        <div class="footer__center">
            <a href="privacy.html" target="_blank" class="footer__politics">Политика конфиденциальности</a>       
            <p class="footer__addres">г.Тверь, Петербургское шоссе, дом 53 а</p> 
        </div>
        <div class="footer__right">
            <p class="footer__number">ИНН 6952043760</p>
            <p class="footer__number">ОГРН 1146952021523</p>
        </div>
    </div>
</footer>