.header{
    background: #fffbf3 url(../img/header__background.png);
    background-position: 467px top;
    background-repeat: no-repeat;
    padding-top: 43px;
    padding-bottom: 0;
    & .wrapper{
        background-image: url(../img/man__woman.png);
        background-repeat: no-repeat;
        background-position: 313px 68px;
        padding-bottom: 54px;
    }
    &__nav{
        width: 884px;
        display: flex;
        justify-content: space-between;
        &-link{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 17px;
            color: #444444;
        }
        &-text{
            text-decoration: underline;
            margin-left: 11px;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
        &-left{
            display: flex;
            width: 415px;
            flex-direction: column;
            align-items: flex-start;
        }
        &-right{
            display: flex;
            position: relative;
        }
    }
    &__logo{
        font-size: 70px;
        color: #f4771b;
        margin: 0;
    }
    &__title{
        font-size: 40px;
        width: 100%;
        color: #1d1d1d;
        line-height: 1;
        margin-top: 9px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 50px;
        margin-top: 49px;
        &-item{
            margin-bottom: 24px;
            color: #444444;
            position: relative;
            line-height: 1.34;
            font-size: 18px;
            &_color{
                color: #1d1d1d;
                font-weight: 500;
            }
            &::before{
                content: '';
                width: 34px;
                height: 34px;
                background-color: #fca704;
                background-image: url(../img/list__item.svg);
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 50%; 
                position: absolute;
                left: -49px;
                top: -3px;
            }
        }
        &-item:last-child{
            margin-bottom: 0;
        }
    }
    &__quote{
        padding: 14px 19px 14px 32px;
        background-color: #fff;
        border-radius: 7px;
        position: relative;
        box-shadow: 0px 5px 20px 0px rgba(241,239,236,1);
        margin-top: 32px;
        margin-left: 19px;
        font-size: 18px;
        &::after{
            content: '';
            position: absolute;
            right: -55px;
            top: calc(50% - 30px);
            border: 30px solid transparent;
            border-left: 30px solid #fff;
        }
        &::before{
            content: '';
            width: 34px;
            height: 34px;
            background-color: #9ac65a;
            background-image: url(../img/star.svg);
            background-position: 5px 5px;
            position: absolute;
            background-repeat: no-repeat;
            border-radius: 50%;
            left: -17px;
            top: 0;
        }
    }
    &__product{
        position: relative;
        left: -417px;
        &-one{
            width: 421px;
            position: absolute;
            top: 437px;
            
        }
        &-two{
            position: absolute;
            width: 124px;
            top: 482px;
            left: -60px;
        }
    }
}

.header__product-one img{
    width: 100%;
}
.header__product-two img{
    width: 100%;
}

.form{
    width: 277px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 25px 0px;
    border-radius: 10px;
    box-shadow: 0px 3px 20px 1px rgba(239,236,231,1);
    margin-top: 11px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        background-image: url(../img/form__arrow.png);
        width: 67px;
        height: 310px;
        right: -47px;
        top: 141px;
    }
    &__top{
        position: absolute;
        width: 97px;
        min-height: 88px;
        background-image: url(../img/form__before.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -71px;
        &-text{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 30px;
            color: #1d1d1d;
            font-weight: 900;
            line-height: 1;
            &_size{
                font-size: 13px;
                color: #3f3f3f;
            }
        }
    }
    &__title{
        font-size: 19px;
        text-align: center;
        color: #222222;
        line-height: 1.1;
        &_color{
            color: #f7420b;
        }
    }
    &__price{
        border-top: 1px solid #e5e5e5;
        width: 100%;
        padding-top: 17px;
        display: flex;
        margin-top: 18px;
        &-before{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-after{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-left: 1px solid #e5e5e5;
        }
        &-title{
            font-size: 13px;
            color: #a2a2a2;
            
        }
        &-description{
            font-size: 37px;
            color: #575656;
            font-weight: 500;
            &_color{
                color: #77a13c;
                font-weight: 900;
            }
        }
        &-currency{
            font-size: 14px;
            color: #2f2f2c;
            margin-top: -7px;
        }
    }
    &__pack{
        margin-top: 21px;
        text-align: center;
        font-size: 16px;
        line-height: 1.12;
        &_color{
            color: #ff6b00;
            font-weight: bold;
        }
    }
    &__content{
        width: 100%;
        padding: 0 29px;
        margin-top: 20px;    
    }
    &__input{
        display: block;
        width: 100%;
        font-size: 17px;
        color: #212121;
        padding: 23px 55px;
        border-radius: 50px;
        border: 1px solid #f1efe8;
        position: relative;
        box-shadow: inset 0px 0px 40px 0px rgba(248,248,248,1);
        &-name{
            background-image: url(../img/name.svg);
            background-repeat: no-repeat;
            background-position: 19px center;
        }
        &-phone{
            background-image: url(../img/phone.svg);
            background-repeat: no-repeat;
            background-position: 19px center;
            margin-top: 13px;
        }
    }
    &__button{
        margin-top: 19px;
    }
    &__security{
        margin-top: 30px;
        font-size: 15px;
        color: #444444;
        position: relative;
        margin-left: 28px;
        &::before{
            content: '';
            width: 18px;
            height: 19px;
            background-image: url(../img/security.svg);
            position: absolute;
            left: -30px;
            top: 0;
        }
    }
}

@media screen and (max-width: 1274px){
    .header{
        background-position: center top;
        background-size: 100% 100%;
    }
    .form::after{
        display: none;
    }
}

@media screen and (max-width: 1190px){
    .section{
        padding-bottom: 0 !important;
    }
    .header__product{
        left: -347px;
    }
    .header__product-one{
        width: 361px;
        top: 497px;
    }
    .header__product-two{
        width: 104px;
        top: 542px;
        left: -49px;
    }
}