.symptoms {
  padding-top: 154px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .wrapper {
    width: 100%;
  }

  & .subtitle {
    margin-top: 8px;
  }

  &__statistic{
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: #1d1d1d;
    margin-top: 34px;
    &-description{
      font-size: 21px;
      color: #666666;
      width: 100%;
      text-align: center;
      margin-top: 2px;
      line-height: 1.3;
      position: relative;
      &_weight{
        color: #1d1d1d;
        font-weight: 500;
      }
      &::before{
        content: '';
        width: 1px;
        height: 76px;
        border-left: 1px solid #cfcfcf;
        border-style: dashed;
        position: absolute;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        left: calc(50% - 1px);
        top: 70px;
      }
    }
  }

}

.consequence {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;

  &__left {
    width: 259px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__right {
    width: 274px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__description {
    width: 100%;
    text-align: right;
    min-height: 145px;
    padding: 53px 0 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: #121212;
    font-weight: 500;
    position: relative;
    z-index: 5;
    cursor: pointer;
    &:nth-child(2) {
      border-top: 1px solid #d6d6d6;
      border-bottom: 1px solid #d6d6d6;
      border-style: dashed;
      border-left: none;
      border-right: none;
    }

    &::before {
      content: '1';
      font-size: 50px;
      color: #f9ce4c;
      font-weight: 900;
      position: absolute;
      right: -4px;
      top: 26px;
      z-index: -1;
      transition: all 1s ease; 

    }

    &:nth-child(2)::before {
      content: '2';
    }

    &:nth-child(3)::before {
      content: '3';
    }

    &-point {
      position: absolute;
      width: 14px;
      height: 14px;
      background-color: #eac148;
      border-radius: 50%;
      transition: all 1s ease; 

      &.one {
        left: 550px;
        top: 378px;
        z-index: 5;
        &::before {
          content: '';
          width: 384px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          transform: rotate(54deg);
          top: -154px;
          left: -302px;
          z-index: -1;
        }

        &::after {
          content: '';
          width: 50px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          top: -310px;
          left: -273px;
        }
      }

      &.two {
        left: 458px;
        top: 320px;
        background-color: #fff;
        box-shadow: none !important;
        &::before {
          content: '';
          width: 247px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          top: -140px;
          left: -188px;
          transform: rotate(60deg);
        }

        &::after {
          content: '';
          width: 50px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          top: -246px;
          left: -176px;
        }
      }

      &.three {
        left: 535px;
        top: 157px;
        z-index: 5;
        &::before {
          content: '';
          width: 232px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          left: -211px;
          top: -40px;
          transform: rotate(24deg);
          z-index: -1;
        }

        &::after {
          content: '';
          width: 50px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          top: -87px;
          left: -251px;
        }
      }

      &.four {
        right: 613px;
        top: 477px;

        &::before {
          content: '';
          width: 494px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          transform: rotate(123deg);
          top: -206px;
          left: -102px;
        }

        &::after {
          content: '';
          width: 50px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          top: -413px;
          left: 280px;
        }
      }

      &.fife {
        right: 590px;
        top: 192px;

        &::before {
          content: '';
          width: 283px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          transform: rotate(152deg);
          top: -62px;
          left: -9px;
        }

        &::after {
          content: '';
          width: 50px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          top: -128px;
          left: 258px;
        }
      }

      &.six {
        right: 549px;
        top: 3px;

        &::before {
          content: '';
          width: 215px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          transform: rotate(14deg);
          top: 33px;
          left: 9px;
        }

        &::after {
          content: '';
          width: 50px;
          height: 1px;
          background-color: #d2d2d2;
          position: absolute;
          top: 59px;
          left: 218px;
        }
      }
    }

    &_left {
      text-align: left;

      &::before {
        right: auto;
        left: 0;
      }

      &:nth-child(1)::before {
        content: '4';
        top: 18px;
      }

      &:nth-child(2)::before {
        content: '5';
      }

      &:nth-child(3)::before {
        content: '6';
      }
    }
  }

  &__center {
    width: 514px;
    margin-left: -15px;
    margin-top: -2px;

    & img {
      width: 100%;
    }
  }
}

.consequence__description:hover .consequence__description-point{
  box-shadow: (0px 0px 0px 5px rgba(246,225,160,0.7), 0px 0px 0px 10px rgba(253,243,210,0.5));
  transition: all 1s ease; 
}

.consequence__description:hover {
  &::before{
    transition: all 1s ease;
    transform: translateY(-16px); 

  }
}

@media screen and (max-width: 1190px) {
  .consequence__left {
      width: 206px;
  }

  .consequence__description {
      font-size: 16px;
  }

  .consequence__right {
      width: 201px;
  }

  .consequence__description-point.one {
      left: 490px;
  }

  .consequence__description-point.two {
      left: 398px;
  }

  .consequence__description-point.two::before {
      width: 254px;
      top: -136px;
      left: -189px;
  }

  .consequence__description-point.three{
      left: 472px;
  }

  .consequence__description-point.four{
      right: 532px;
  }
  .consequence__description-point.fife{
      right: 509px;
  }
  .consequence__description-point.six{
      right: 468px;
  }
  .consequence__description::before{
      font-size: 44px;
  }
  .consequence__description_left:nth-child(1)::before{
      top: 21px;
  }
}

@media screen and (max-width: 1023px){
  .consequence__description-point {
    display: none;
  }
  .consequence__center{
    width: 374px;
  }
  .consequence__left{
    width: 166px;
  }
  .consequence__right{
    width: 181px;
  }
  .symptoms__statistic{
    font-size: 21px;
  }
  .symptoms__statistic-description {
    font-size: 16px;
  }
  .symptoms__statistic-description br{
    display: none;
  }
}

@media screen and (max-width: 767px){
  .consequence__center{
    display: none;
  }
  .consequence{
    justify-content: space-around;
    margin-top: 10;
  }
  .consequence__description{
    min-height: 100px;
    padding: 33px 0 20px;
  }
  .consequence__right{
    width: 203px;
  }
  .consequence__left {
    width: 203px;
  }
  .consequence__description::before {
    top: 5px;
  }
  .consequence__description_left:nth-child(1)::before{
    top: 5px;
  }
  .symptoms__statistic{
    margin-top: 10px;
  }
}

@media screen and (max-width: 529px){
  .consequence{
    flex-direction: column;
    margin-top: 10px;
  }
  .consequence__left{
    align-items: flex-start;
    width: 300px;
  }
  .consequence__description{
    text-align: left;
    &:nth-child(3){
      border-bottom: 1px solid #d6d6d6;
      border-style: dashed;
      border-left: none;
      border-right: none;
      border-top: none;
    }
    &_left:nth-child(3){
      border: none;
    }
  }
  .consequence__description::before{
    right: auto;
    left: 4px;
  }
  .consequence__right{
    width: 300px;
  }
  .symptoms__statistic{
    margin-top: 0;
  }
  .symptoms__statistic-description::before{
    display: none;
  }
}