.reviews {
    background: #fffbf3 url(../img/section__background.png);
}

.slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    align-items: flex-start;
    &__cont {
        width: 370px;
        position: relative;
        background-color: #fff;
        border-radius: 7px;
        padding-bottom: 31px;
        margin-top: 88px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    &__img {
        width: 169px;
        border: 3px solid #f4771b;
        border-radius: 50%;
        box-sizing: border-box;
        margin-top: -85px;
        margin-left: calc(50% - 85px);

        & img {
            width: 100%;
            display: block;
        }
    }

    &__name {
        font-size: 20px;
        color: #000000;
        width: 100%;
        text-align: center;
        font-weight: 500;
        margin-top: 23px;
    }

    &__effect {
        padding: 25px 0;
        width: 100%;
        text-align: center;
        font-size: 17px;
        color: #444444;
        font-style: italic;
        background-color: #ffeccf;
        margin-top: 21px;
        position: relative;

        &::before {
            content: '“';
            font-size: 72px;
            color: #f4771b;
            font-style: italic;
            position: absolute;
            top: -22px;
            left: calc(50% - 28px);
        }
    }
    &__description{
        padding: 20px 22px 0px;
        font-size: 17px;
        color: #444444;
        line-height: 1.5;
        text-align: center;
        height: 192px;
        overflow: hidden;
    }
    &__show{
        width: 30px;
        height: 30px;
        background-color: #73ad32;
        position: absolute;
        border-radius: 50%;
        bottom: -15px;
        left: calc(50% - 15px);
        cursor: pointer;
        &::before{
            content: '+';
            font-size: 34px;
            color: #fff;
            position: absolute;
            left: 5.5px;
            top: -6px;
        }
    }
}

.slide__description.active {
    height: auto;
}

.slide__show.active::before{
    content: '-';
    left: 10.5px;
}


.slick-next::before,
.slick-prev::before{
    content: '' !important;
}

.slick-next{
    background-image:  url(../img/slide__next.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; 
    width: 40px !important;
    height: 40px !important;
    background-color: #f4771b !important;
    border-radius: 50% !important;
    right: -61px !important;
}

.slick-next:hover{
    background-image: url(../img/slide__next-hover.svg) !important;
    background-color: #fcd153 !important;
}

.slick-prev{
    background-image:  url(../img/slide__prev.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important; 
    width: 40px !important;
    height: 40px !important;
    background-color: #f4771b !important;
    border-radius: 50% !important;
    z-index: 10;
    left: -61px !important;
}

.slick-prev:hover{
    background-image: url(../img/slide__prev-hover.svg) !important;
    background-color: #fcd153 !important;
}

@media screen and (max-width: 1294px){
    .slick-prev{
        left: -5px !important;
    }
    .slick-next{
        right: -5px !important;
    }
}

@media screen and (max-width: 1199px){
    .slide__cont{
        width: 308px;
    }
    
    .slide__effect{
        font-size: 15px;
    }
    .slide__description{
        font-size: 16px;
    }
}

@media screen and (max-width: 1023px){
    .slide{
        width: 650px;
        margin: 40px auto 0;
    }
    .slide__cont{
        width: 315px;
    }
    .slick-next{
        right: -50px !important;
    }
    .slick-prev{
        left: -50px !important;
    }
}
@media screen and (max-width: 767px){
    .slide{
        width: 370px;
        margin-top: 20px;
    }
    .slide__cont{
        width: 370px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 480px){
    .slide{
        width: 300px;
       
    }
    .slide__cont{
        width: 300px;
    }
    .slick-next{
        right: -5px !important;
        top: calc(50% + 42px) !important;
    }
    .slick-prev{
        left: -5px !important;
        top: calc(50% + 42px) !important;
    }

}